framework: net7.0
source https://api.nuget.org/v3/index.json

nuget Argu 6.1.1
nuget FSharp.Data 4.2.8
nuget FSharp.Core 7.0.0
nuget Microsoft.NETCore.App.Ref 7.0.1

group othergroup
    framework: net7.0
    source https://api.nuget.org/v3/index.json

    nuget Argu 6.1.1
    nuget FSharp.Data 4.2.8
    nuget FSharp.Core 7.0.0
    nuget Microsoft.NETCore.App.Ref 7.0.1

